body {
font-family: 'Skranji', cursive;
background-color: black;
color: rgb(17, 146, 133);
font-size: 100%;
height: 100vh;
}
h1 {
    text-align: center;
    font-size: 10rem;
}
h2 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 2rem;
    padding-bottom: 2%;
    transition: 100ms 400ms;
}
.container-up {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.container-up__left {
width: 30%;
padding: 1%;
border: solid 2px rgb(17, 146, 133);
text-align: center;
margin-right: 1%;
line-height: 1.4;
}

.container-up__left>img{
    width: 40%;
}

.container-up__right {
    width: 65%;
    border:solid 2px rgb(17, 146, 133);
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5px;
    justify-items: center;
}

.container-up__right img {
    height: 100%;
    padding: 5%;
}

#image2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

#image3 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.container-down {
    display: flex;
}

.container-down__left {
    width: 70%;
    border: solid 2px rgb(17, 146, 133);
    margin: 1%;
    padding: 1%;
    line-height: 2em;
}

.container-down__right {
    border: solid 2px rgb(17, 146, 133);
    width: 24%;
    padding: 1%;
    margin: 1%;
    text-align: center;
    line-height: 3em;

}

.container-down__right>ul {
    text-align: left;
}

h2:hover {
    color: darkred;
    font-size: 3rem;
    transition: 100ms 400ms;
}